/* BODY */
html {
    height: 100%;
}

body {
    background-color: rgb(46, 139, 127);
    color: rgb(255, 218, 6);
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
    height: 100%;
}

/* HEADER */
/*header {
    margin: auto;   
    width: 100%;
}*/

h1 {
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.712);
}

/* NAV */
/*.navbar {
    margin: auto;   
    width: 100%;
}*/

nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.575);
    align-items: center;
    justify-content: space-evenly;
}

.button {
    color: white;
    background-color: rgb(170, 170, 170);
    margin: 4px;
    padding-top: 6px;
   /* flex-grow: 1; */
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.514);
    width: 75px;
    height: 30px;
    border-radius: 5px;
}


/* LINKs */
a:link {
    color: rgb(255, 187, 0);
    text-decoration: none;
}

a:hover {
    background-color: rgb(255, 251, 42);
    border-radius: 8px;
    /* box-shadow: 0px 1px 4px rgb(255, 251, 42); */   
}

a:active {
    background-color: rgb(194, 191, 0);
}

/* PETS */

#cats {
    color: rgb(255, 187, 0);
    background-color:rgb(23, 97, 255);
}

#dogs {
    color: rgb(255, 187, 0);
    background-color: rgb(57, 150, 57);
}

#dinos {
    color: rgb(255, 187, 0);
    background-color: rgb(224, 127, 0) ;
}

/* PET CARDS */

.petHolder {
    min-height: 100%;
    margin-bottom: -30px;
}

#pet-barn {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/*.petCard {
    display: hide;
    width: 350px;
    color: rgb(218, 216, 216);
    background-color: rgb(87, 87, 87);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.712);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.514);
    margin-bottom: 50px;
    border-radius: 10px;
}*/

#dogsCard {
    display: hide;
    width: 350px;
    color: rgb(218, 216, 216);
    background-color: rgb(87, 87, 87);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.712);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.514);
    margin-bottom: 50px;
    border-radius: 10px;
}

#catsCard {
    display: hide;
    width: 350px;
    color: rgb(218, 216, 216);
    background-color: rgb(87, 87, 87);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.712);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.514);
    margin-bottom: 50px;
    border-radius: 10px;
}

#dinosCard {
    display: hide;
    width: 350px;
    color: rgb(218, 216, 216);
    background-color: rgb(87, 87, 87);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.712);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.514);
    margin-bottom: 50px;
    border-radius: 10px;
}

.petName {
    border-radius: 10px 10px 0px 0px;
}

.petName h2 {
    height: 50px;
    margin-top: 0px;
    padding-top: 5px;
    border-radius: 10px 10px 0px 0px;
} 

.petImage img {
    width: 300px;
    border: solid rgb(206, 206, 206);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.514);
}

.petColor {
    padding-top: 5px;
}

.petSkill {
    height: 80px;
    text-align: justify;
    padding: 10px;

}

.petType {
    height: 40px;
    background-color: rgba(255, 255, 255, 0.384);
    padding-top: 8px;
    border-radius: 0px 0px 10px 10px;
} 

/* FOOTER */

.hide {
    display: none;
}